body {
    background-color: rgb(253, 220, 226);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";    
    font-size: 1vw;
    padding-left: 15%;
    padding-right: 15%;
}

/* unvisited link */
a:link {
  color: blueviolet;
}

/* visited link */
a:visited {
  color: blueviolet;
}
